body{
    background-color: white;
}
header{
    text-align: center;
    padding-bottom: 2.5%;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
img {  
    max-width: 70%;  
    height: auto;      
    margin: 0 auto;
}  
span {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    height: 17%;
    margin-left: 10%;
    
    
}
div {
    display: inline-block;
}